/* line 17, ../../../source/sass/_pure-nav.scss */
.menu-link span, .menu-link span:before, .menu-link span:after {
  background-color: #fff;
  width: 100%;
  height: 0.2em;
}

/* line 25, ../../../source/sass/_pure-nav.scss */
.menu-link span:before, .menu-link span:after {
  position: absolute;
  margin-top: -0.6em;
  content: " ";
}

/* line 32, ../../../source/sass/_pure-nav.scss */
body {
  color: #777;
}

/* line 35, ../../../source/sass/_pure-nav.scss */
.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/* line 39, ../../../source/sass/_pure-nav.scss */
#layout {
  transition: all 0.2s ease-out;
  position: relative;
  padding-left: 0;
}
/* line 45, ../../../source/sass/_pure-nav.scss */
#layout.active #menu {
  left: 150px;
  width: 150px;
}
/* line 49, ../../../source/sass/_pure-nav.scss */
#layout.active .menu-link {
  left: 150px;
}

/* line 54, ../../../source/sass/_pure-nav.scss */
#menu {
  transition: all 0.2s ease-out;
  margin-left: -150px;
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
}
/* line 66, ../../../source/sass/_pure-nav.scss */
#menu a {
  color: #999;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}
/* line 71, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu {
  border: none;
  background: transparent;
}
/* line 74, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu ul {
  border: none;
  background: transparent;
  border-top: 1px solid #333;
}
/* line 79, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}
/* line 83, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu li a:hover {
  background: #333;
}
/* line 86, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu li a:focus {
  background: #333;
}
/* line 91, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu-selected {
  background: #1f8dd6;
}
/* line 93, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu-selected a {
  color: #fff;
}
/* line 97, ../../../source/sass/_pure-nav.scss */
#menu .pure-menu-heading {
  background: #1f8dd6;
  font-size: 110%;
  color: #fff;
  margin: 0;
}

/* line 104, ../../../source/sass/_pure-nav.scss */
.menu-link {
  transition: all 0.2s ease-out;
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  background: #000;
  background: rgba(0, 0, 0, 0.7);
  font-size: 10px;
  z-index: 10;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;
}
/* line 118, ../../../source/sass/_pure-nav.scss */
.menu-link:hover {
  background: #000;
}
/* line 121, ../../../source/sass/_pure-nav.scss */
.menu-link:focus {
  background: #000;
}
/* line 124, ../../../source/sass/_pure-nav.scss */
.menu-link span {
  position: relative;
  display: block;
}
/* line 132, ../../../source/sass/_pure-nav.scss */
.menu-link span:after {
  margin-top: 0.6em;
}

/* line 139, ../../../source/sass/_pure-nav.scss */
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}

/* line 146, ../../../source/sass/_pure-nav.scss */
.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 2.5em 2em 0;
  border-bottom: 1px solid #eee;
}
/* line 152, ../../../source/sass/_pure-nav.scss */
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
/* line 157, ../../../source/sass/_pure-nav.scss */
.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}

/* line 164, ../../../source/sass/_pure-nav.scss */
.content-subhead {
  margin: 50px 0 20px;
  font-weight: 300;
  color: #888;
}

@media (min-width: 48em) {
  /* line 170, ../../../source/sass/_pure-nav.scss */
  .header {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* line 174, ../../../source/sass/_pure-nav.scss */
  .content {
    padding-left: 2em;
    padding-right: 2em;
  }

  /* line 178, ../../../source/sass/_pure-nav.scss */
  #layout {
    padding-left: 150px;
    left: 0;
  }
  /* line 181, ../../../source/sass/_pure-nav.scss */
  #layout.active .menu-link {
    left: 150px;
  }

  /* line 185, ../../../source/sass/_pure-nav.scss */
  #menu {
    left: 150px;
  }

  /* line 188, ../../../source/sass/_pure-nav.scss */
  .menu-link {
    position: fixed;
    left: 150px;
    display: none;
  }
}
@media (max-width: 48em) {
  /* line 195, ../../../source/sass/_pure-nav.scss */
  #layout.active {
    position: relative;
    left: 150px;
  }
}
