<div class="highlight" style="margin: 2rem 2rem 4rem;"></div>
<div class="signup-cta has-centered-text">
    <h1 class="content-subhead">Start tracking your stuff today.</h1>
    <a href="/register" class="pure-button button-success button-xlarge pure-u-3-5">Sign Up Now</a>
</div>