@import "compass";
@import "pure-grid";
@import "pure-nav";

html, body {
	height: 100%;
	width: 100%;

	&, .pure-g [class *= "pure-u"] {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Abel', sans-serif;
	}
}


.has-center-text,
.has-centered-text {
	text-align: center;
}
.has-center-text-please,
.has-centered-text-please {
	text-align: center !important;
}

.has-low-contrast {
	color: #ccc;
	font-family: Georgia, serif;
	font-style: italic;
}

.pure-button {
	&.button-success {
        color: #fff;
        border-radius: 4px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		background-color: #1CB841;
	}

	&.button-xsmall {
        font-size: 70%;
    }

    &.button-small {
        font-size: 85%;
    }

    &.button-large {
        font-size: 110%;
    }

    &.button-xlarge {
        font-size: 125%;
    }
}

.pure-g {
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	max-width: 85.71428571428571rem;
	width: 70vw;
}



#layout, #main, .content {
	min-height: 100%;
}


.content {
	padding-bottom: 5em;
}
.copyright {
	bottom: 0;
	font-family: 'Abel', sans-serif;
	font-size: 10px;
	font-size: 0.7142857142857143rem;
	left: 0;
	letter-spacing: 0.1em;
	padding-bottom: 0.5em;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;

	@media(min-width: 48em) {
		left: 150px;
	}
}

.highlight {
	background: #f0f0f0;
	display: block;
	padding: 1em;
	padding: 1rem;
}

.profile-logo {
	border-radius: 100%;
	overflow: hidden;
}

.pantry {
	.pantry-item {
		margin: 1em auto;
		margin: 1rem auto;

		img {
			display: block;
			margin: 0 auto;
			max-height: 100%;
			max-width: 100%;
		}

		h2 {
			padding: 0 5%;
			text-align: center;
		}
	}

	.pantry-img-caption {
		display: inline-block;
		max-height: 1em;
		max-width: 1.5em;
		position: relative;
		top: 0.25em;

		img {
			max-height: 100%;
			max-width: 100%;
		}

		& + br {
			content: '';
			display: block;
			margin-bottom: 1rem;
		}
	}

	.pantry-item__increment {
		img {
			cursor: pointer;
		}
	}
	.pantry-item__done {
		@include filter(saturate(0%));
		opacity: 0.4;
		pointer-events: none;
		&, * {
			cursor: default;
		}

		&.is-enabled {
			@include filter(none);
			opacity: 1;
			pointer-events: auto;
			img {
				cursor: pointer;
			}
		}
	}
}

.home-blurb {
	padding: 0 1em;
	padding: 0 1rem;
}