<div class="has-centered-text" style="margin: 10rem 0;">
	<h1>404 - Not Found</h1>
	<h2>Whatever you were looking for couldn't be located.</h2>
	<p>Try going <a href="/">home</a> and navigating back to what you were looking for.</p>
</div>

{{#if user}} {{else }}
	{{> global/signup-cta }}
{{/if}}