<div class="header">
  <h1>Register A New Account</h1>
</div>

<div class="content pure-g">
  
  <div class="pure-u-1 pure-u-lg-1-2">
    {{> user/signup-form}}
  </div>


  <div class="pure-u-1 pure-u-lg-1-2">
    {{!-- mm that spacing though --}}
    <h2>&nbsp;</h2>
    <p>A few people have already started using what they call "the neatest website of 2k15." What are you waiting for? Join now. Do it.</p>

    <h4>
      Already have an account?
      <a href="/login">Log in here.</a>
    </h4>
  </div>


</div>
